@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Serif:400,700|Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Open+Sans&display=swap');

:root {
    --text-font: 'Lato', 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --title-font: 'Oleo Script', 'Fira Sans', 'Helvetica Neue', Helvetica, cursive, sans-serif;
  }

::selection {
    color: #fafafa;
    background-color: #9ddde3;
}

::-moz-selection {
    color: #ebebeb;
    background-color: #9ddde3;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
    display: inline-block;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--text-font);
}

p {
    font-family: 'Open Sans', 'Lato', 'Helvetica', Arial, Helvetica, sans-serif;
}

h5 {
    font-size: 1.1rem;
}

button {
    padding: 7px 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    border: none;
}

a {
    color: #2297a2;
    transition: ease-in-out 0.3s;
    text-decoration: none;
}

a:hover {
    color: #004777;
    transition: ease-in-out 0.3s;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

.fluido {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.amassar {
    flex-wrap: nowrap;
}

.titulo {
    font-size: 5rem;
    font-family: var(--title-font);
}

.corpo {
    font-size: 0.95rem;
}

.subtitulo {
    font-size: 1.8rem;
}

.subtitulo2 {
    font-size: 1.3rem;
}

.t-animado {
    position: relative;
}

.t-animado::after {
    content: ' ';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    border-bottom: solid 2px #9ddde3;
    transition: 0.4s;
}

.t-animado:hover::after {
    width: 100%;
    left: 0;
    transition: 0.4s;
}

#border-top {
    top: 0;
    position: sticky;
    height: 3px;
    background-color: #e5fdff;
    z-index: 11;
    margin-bottom: -3px;
}

#sticky-navbar {
    background-color: #fafafa;
    box-shadow: 0px -10px 30px #20202048;
    height: 70px;
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 3px;
    margin-bottom: -70px;
    z-index: 10;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: 0.5s;
}

.hide {
    visibility: hidden;
    transition: 0.5s;
}

#navbar-links a {
    position: relative;
    margin: 0px 10px;
    font-size: 1.05rem;
    font-weight: 700;
    color: #004777;
}

#navbar-links a::after {
    content: ' ';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    border-bottom: solid 2px #9ddde3;
    transition: width 0.3s ease-in-out;
}

#navbar-links a:hover {
    color: #2297a2;
}

#navbar-links a:hover::after {
    width: 100%;
    transition: width 0.3s ease-in-out;
}

#logo-top {
    height: 70%;
    margin: 10px 20px;
    margin-right: 15px;
    -webkit-user-drag: none;
}

#media {
    margin-right: 20px;
    margin-left: auto;
}

#media a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 0px 10px;
    padding: 1px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    color: #fafafa;
    background-color: #004777;
}

#media a:hover {
    color: #2297a2;
}

#media a:last-child {
    background-color: #2297a2;
}

#media a:last-child:hover {
    color: #004777;
}

#chamada {
    text-align: right;
}

#chamada p {
    margin: 10px 0px 15px 0px;
}

#chamada h2 {
    margin-top: 20px; 
}

#chamada button {
    transition: 0.4s;
    background-color: #004777;
    color: #fafafa;
    font-family: 'Open Sans', 'Lato', 'Helvetica', Arial, Helvetica, sans-serif;
}

#chamada button:hover {
    background-color: #06385a;
    transition: 0.4s;
    border-radius: 0px;
}

#chamada-img img {
    display: inline-block;
}

@-webkit-keyframes bgchange {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bgchange {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bgchange {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#inicio {
    min-height: 75vh;
    align-items: center;
    padding: 0vw 10vw;
    padding-top: 50px;
    overflow: hidden;
    position: relative;

    background: linear-gradient(270deg, #2297a2, #48b6d8, #1fa5b2, #47b9db);
    background-size: 600% 600%;
    -webkit-animation: bgchange 30s ease infinite;
    -moz-animation: bgchange 30s ease infinite;
    animation: bgchange 30s ease infinite;
}

#inicio::after {
    content: '';
    position: absolute;
    color: #fafafa;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#inicio img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

#titulo {
    text-align: center;
    user-select: none;
    color: #2297a2;
    transition: all 0.8s;
}


#titulo2 {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-shadow: 3px 2px #9ddde3;
}

#titulo2 > * {
    margin: 0px 15px;
}

#logo {
    height: 120px;
}

#chamada {
    margin-right: 40px;
    margin-left: auto;
    padding: 0px 10px 0px 80px;
}

#chamada-img {
    width: 500px;
    height: 250px;
    background-image: url('media/01.jpg');
    background-size: cover;
    background-position: center;
    border: 2px #fafafa solid;
}

#navbar {
   /* display: none;*/
}

#navbar a {
    font-family: 'Open Sans', 'Lato', 'Helvetica', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #004777;
    margin: 3px 8px;
    font-weight: bold;
}

#divisao {
    width: 100%;
    height: 10vh;
    fill: black;
}

#beneficios {
    display: flex;
    height: 400px;
    background-color: #f8f8f8;
    text-align: center;
    align-items: center;
    padding: 50px 0px 30px 0px;
    justify-content: center;
    cursor: default;
}

#titulo-beneficios {
    padding: 0px 0px 50px 0px;
}

#lista {
    display: flex;
    align-items: center;
    padding-bottom: 90px;
}

#lista div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f8f8f8;
    width: 200px;
    height: 150px;
    margin: 0px 50px 0px 20px;    
    transition: 0.4s;
    padding: 5px 20px;
}

#lista h5 {
    margin: 10px 0px 5px 0px;
    color: #004777;
}

#lista div:hover {
    background-color: #e4e4e4;
    box-shadow: 5px 5px 0px #004777;
    transition: 0.4s;
}

#lista i {
    color: #004777;
    transition: 0.4s;
    font-size: 1rem;
}

#lista div:hover i {
    color: #2cbdca;
    transition: 0.4s;
}

#bg-call {
    background: url('media/bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#f-call {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    background-color: #20202080;
    text-align: center;
    padding: 30px 100px;
    height: 650px;
    color: #fafafa;
}

#f-call h3 {
    font-size: 2rem;
    margin-bottom: 30px;
}

#f-call p {
    font-size: 1.1rem;
}

#ag-consulta {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    background: #f8f8f8;
    text-align: center;
    padding: 30px 100px;
    height: 400px;
    color: #fafafa;
}

#ag-consulta h3 {
    margin-bottom: 30px;
    font-size: 1.3rem;
}

footer {
    height: 200px;
    background-color: #06385a;
    padding: 60px 100px 30px 100px;
}

#form form {
    display: inline-flex;
    flex-flow: nowrap column;
}






/* media queries */ 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 560px) {
    #chamada-img img {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    #inicio {
        flex-wrap: wrap;
        padding: 40px 10px;
        text-align: center;
    }
    #inicio > * {
        width: 100%;
        padding: 0;
        margin: 10px 20px;
    }
    #titulo2 {
        justify-content: space-evenly;
    }
    #sticky-navbar {
        visibility: visible;
        margin-bottom: 0;
        padding: 0px 10px;
    }
    #sticky-navbar img {
        display: none;
    }    
    #media a {
        font-size: 0.8rem;
        height: 25px;
        width: 25px;
        margin: 0px 5px;
    }
    #chamada {
        text-align: center;
    }
    #navbar {
        display: none;
    }
}

@media only screen and (min-width: 660px) and (max-width: 768px) {
    #inicio {
        padding: 40px 60px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
    .col-s-12 {
        width: 100%;
    }
    .col-s-6 {
        width: 45%;
    }
    #inicio {
        padding: 40px 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    #chamada-img img {
        width: 350px;
        margin-top: 40px;
    }
    #titulo {
        width: 100%;
    }
    #titulo2 {
        justify-content: center;
    }
    #titulo2 > * {
        margin: 0px 15px;
    }
    #chamada {
        margin: 0;
        padding: 0px 20px 0px 0px;
    }
}

@media only screen and (min-width: 901px) and (max-width: 991px) {
    .col-s-12 {
        width: 100%;
    }
    .col-s-6 {
        width: 45%;
    }
    #inicio {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    #chamada-img img {
        width: 95%;
    }
    #titulo {
        width: 100%;
    }
    #titulo2 {
        justify-content: center;
    }
    #titulo2 > * {
        margin: 0px 15px;
    }
    #chamada {
        margin: 0;
        padding: 0px 20px 0px 0px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1480px) {
    .col-s-12 {
        width: 100%;
    }
    .col-s-6 {
        width: 45%;
    }
    #inicio {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #chamada-img img {
        width: 400px;
        margin: 30px 15px;
    }
    #titulo {
        width: 100%;
    }
    #titulo2 {
        justify-content: center;
    }
    #titulo2 > * {
        margin: 0px 15px;
    }
    #chamada {
        margin: 0;
        padding: 0px 20px 0px 0px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1481px) and (max-width: 1890px) {
    #inicio {
        padding: 0vw 10vw 0vw 3vw;
    }
    #titulo {
        padding-bottom: 100px;
    }
    #chamada {
        margin-right: 15px;
        padding: 0px 15px;
    }
}

@media only screen and (max-width: 1200px) {
    #beneficios {
        height: 500px;
    }
    #lista {
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 10px;
    }
    #lista div {
        width: 40%;
    }
}

@media only screen and (max-width: 820px) {
    #beneficios {
        height: 750px;
        padding-top: 20px;
    }
    #lista {
        flex-wrap: wrap;
        padding: 20px 80px;
    }
    #lista div {
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    #f-call {
        padding: 0vw 22vw;
    }
}